{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "plugins": [
    "cypress"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "semi": ["warn", "never", { "beforeStatementContinuationChars": "always"}],
    "comma-dangle": ["error", "always-multiline"]
  }
}
