@font-face {
  font-family: 'Spartan';
  font-weight: 100 900;
  font-display: swap;
  src: local('Spartan'), url('./fonts/spartan.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  src: url('./fonts/playfair-display.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  src: url('./fonts/playfair-display-italic.woff2') format('woff2');
}
